services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: tutorial_db
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: mean-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=tutorial_db
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: mean-frontend
    restart: always
    ports:
      - "8081:80"

volumes:
  mongo-data:
